.container{
    display: grid;
    // grid-template-columns: minmax(300px,80vw);

.img-section{
   img{
       width:100vw;
       height:50vh;
   }
}
.text-section{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    align-items: center;
    width:80vw;
    margin:0 auto;
    h1{
        color:blue;
        font-size: 50px;
        border-bottom:2px solid blue;
    }
    p{
        font-size: 26px;
        line-height: 2rem;
        padding:0.5rem 2rem;
    }
}
}